<nav>
  <a href="/"><h2>Hi-Book</h2></a>
  <div class="navigation">
    <a href="/authors">Authors</a>
    <a href="/authors/new">Add Authors</a>
    <a href="/books">books</a>
    <a href="/books/new">Add book</a>
  </div>
</nav>
